<%= form_tag("/lock/reset") do %>
    <input type="submit" value="リセットボタン">
<% end %>

<button id="countDownBtn">COUNTDOWN</button>

<%= form_tag("/lock/judge") do %>
    <% @i = 1 %>

    <% @logs.each do |log|%>
        <p>
            <%= log.nickname %>
            <%= log.time %>
            <%= log.created_at %>
            
                <input type="radio" name="judge<%="#{@i}"%>" value="correct">正
                <input type="radio" name="judge<%="#{@i}"%>" value="wrong">誤
                <input type="radio" name="nickname<%="#{@i}"%>" value=<%="#{log.nickname}"%>>
                <input type="radio" name="time<%="#{@i}"%>" value=<%="#{log.time}"%>>

        </p>
        <% @i += 1 %>
    <% end %>
    
    <input type="submit" value="判定" class="btn">
<% end %>

